<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>degre</key>
            <string>37,5</string>
            <key>name</key>
            <string>Poliakov</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>37,5</string>
            <key>name</key>
            <string>Smirnoff</string>
        </dict>
        <dict>
            <key>degre</key>
            <real>40</real>
            <key>name</key>
            <string>Russian standard</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>37,5</string>
            <key>name</key>
            <string>Sobieski</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>37,5</string>
            <key>name</key>
            <string>Eristoff</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>40</string>
            <key>name</key>
            <string>Absolut</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>40</string>
            <key>name</key>
            <string>Clan Campbell</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>40</string>
            <key>name</key>
            <string>JB</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>40</string>
            <key>name</key>
            <string>Sir Pitterson</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>40</string>
            <key>name</key>
            <string>Jack Daniel's</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>40</string>
            <key>name</key>
            <string>William Peel</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>40</string>
            <key>name</key>
            <string>Ballantines</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>40</string>
            <key>name</key>
            <string>La Mauny</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>40</string>
            <key>name</key>
            <string>St James Blanc</string>
        </dict>
        <dict>
            <key>degre</key>
            <real>45</real>
            <key>name</key>
            <string>St James Ambré</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>50</string>
            <key>name</key>
            <string>Dillon</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>35</string>
            <key>name</key>
            <string>San José Silver</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>35</string>
            <key>name</key>
            <string>Camino Real</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>38</string>
            <key>name</key>
            <string>José Cuervo Silver</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>38</string>
            <key>name</key>
            <string>Olmeca Blanco</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>20</string>
            <key>name</key>
            <string>Passoa</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>17</string>
            <key>name</key>
            <string>Bailey's Crème de Whisky</string>
        </dict>
        <dict>
            <key>degre</key>
            <real>21</real>
            <key>name</key>
            <string>Get 27</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>18</string>
            <key>name</key>
            <string>Malibu Coconut</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>35</string>
            <key>name</key>
            <string>Jagermeister</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>4,2</string>
            <key>name</key>
            <string>Kronenbourg</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>5,5</string>
            <key>name</key>
            <string>1664</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>6,7</string>
            <key>name</key>
            <string>Grimbergen blonde</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>6,1</string>
            <key>name</key>
            <string>Gauloise</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>5,5</string>
            <key>name</key>
            <string>San Miguel</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>5</string>
            <key>name</key>
            <string>Heineken</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>5</string>
            <key>name</key>
            <string>Hoegaarden</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>5</string>
            <key>name</key>
            <string>Budweiser</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>6,5</string>
            <key>name</key>
            <string>Grimbergen brune</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>6,6</string>
            <key>name</key>
            <string>Leffe</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>6</string>
            <key>name</key>
            <string>Skoll</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>45</string>
            <key>name</key>
            <string>Pastis</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>45</string>
            <key>name</key>
            <string>Ricard</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>12</string>
            <key>name</key>
            <string>Vin</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>7,9</string>
            <key>name</key>
            <string>Cidre</string>
        </dict>
        <dict>
            <key>degre</key>
            <string>37,5</string>
            <key>name</key>
            <string>Gin</string>
        </dict>
    </array>
</plist>
